.location-div {
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-container {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 90%;
}

.child{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 40px;
    margin-right: 40px;
}

.text-column{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.text-header{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0px;
}

.text-description{
    font-size: 16px;
    font-weight: 100;
    margin-top: 0px;
}