.location-div {
    width: 100%;
    height: 400px;
    background-color: lightcoral;
    display: flex;
    /* This aligns our child (location-container) vertically */
    align-items: center;
    /* This aligns our child (location-container) horizontally */
    justify-content: center;
}

.location-container {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 90%;
    /* This is temporary, just so you can see the outline of the container */
    border: 2px solid black;
}

/* TODO: Make child a row */

.child{
    /* the styles that you define below should control the height
    and width of each child */

    /* This is temporary, just so you can see the outline of the child */
    border: 1px solid blue;
}

/* TODO: Make text column a column */

.text-column{
    
}
