.hero-banner{
    width:100%;
    height: 100vh;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.top-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;
    margin-top: 2%;
    height: 550px;
    margin-left: auto;
}
.title-div{
    position: absolute;
    max-width: 28vw;
    width: 100%;
    margin-right: 45%;
    height: 550px;
}

.heading-div{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0;
}
.heading-div h1{
   font-size: 4.5vw;
   margin-bottom: 0;
   font-family: 'Open Sans', sans-serif;
}
.title-div h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    margin-top: 0;
}

.title-div p{
    font-family: 'Open Sans', sans-serif;
    width: 28vw;
    font-size:1vw;
}

#globe-gif{
    max-width: 3vw;
    height: 90%;
    margin-left: -5px;
}
#woman-hero{
    max-height: 450px;
    z-index: 100;
    margin-right: 6%;
}
#background-img {
    position: absolute;
    bottom: 0;
    width: 75%; 
    height: auto; 
    z-index: -1;
    min-height: 300px; 
}

#date-animation, #date-img {
    position: static; /* default, or remove the position property entirely */
    width: 100%; /* Adjust this as needed */
    margin-right: 0; /* Remove the margin-right if it's no longer necessary */
    height: auto; /* To maintain aspect ratio */
}
#date-img{
    max-width: 35%; /* To maintain the desired width */
    margin-bottom: 20px;
}
#date-animation{
    max-width: 15%; /* To maintain the desired width */
    margin-right: 25%;
    margin-bottom: -1px;
}

#tickets-btn{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 6vh;
}

.date-img-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Center-align children if desired */
    justify-content: center; /* Adjust this if you need to control vertical spacing */
    height: auto; /* Or a fixed height if you want to explicitly set it */
    position: absolute;
    bottom: 0;
    height: auto;
    right: 0;
    margin-right: 10%;

}
