#background-img {
  width: 90%;
  height: 100%;
}

.heading-div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0;
}
.heading-div h1 {
  font-size: 4.5vw;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
}
.title-div h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
  margin-top: 0;
}

.title-div p {
  font-family: "Open Sans", sans-serif;
  width: 28vw;
  font-size: 1vw;
}

#globe-gif {
  max-width: 10vw;
  width: 3vw;
  height: 90%;
  margin-left: -5px;
  margin-bottom: 7px;
}

.btn{
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
} 
.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
} 
.tickets-btn {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #946df0, #e87db3, #f3b178, #e87db3,#946df0);
  height: 10%;
  box-shadow: 5px 7px 4px 0px #00000026;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  font-size: large;
  margin-top: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
}

.tickets-btn:hover {
  transition: all 0.5s ease-in-out 0s;
  background-position: 100% 0px;
} 


/* ipad view and base for mobile view */
@media (max-width: 912px) {

  #background-img {
    display: none;
  }

  #date-img {
    display: none;
  }
  .top-row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    margin-top: 0%;
    padding-top: 15%;
    margin-left: auto;
  }

  .title-div {
    position: static;
    max-width: 100%;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .woman-img-div {
    display: flex;
    justify-content: center;
  }

  #woman-hero {
    max-width: 70%;
    margin-right: 0;
    margin-bottom: 0;
  }
  .heading-div h1 {
    font-size: 9vw;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }
  .title-div h2 {
    font-size: 3vw;
    margin-bottom: 10px;
  }
  .title-div p {
    font-size: 2vw;
    width: 60vw;
  }
  #tickets-btn {
    margin-top: 15px;
  }
  #globe-gif {
    width: auto;
    height: 80%;
    margin-left: -5px;
    margin-bottom: 7px;
  }
}
/* mobile view */
@media (max-width: 560px) {
  .heading-div h1 {
    font-size: 11vw;
    line-height: 1.2em;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }
  .title-div h2 {
    font-size: 3vw;
    margin-bottom: 10px;
    color: #946df0;
    font-weight: 500;
  }
  .title-div p {
    font-size: 2.6vw;
    width: 68vw;
    text-align: center;
  }
  #woman-hero {
    max-width: 85vw;
  }
  /* .hero-banner {
    height: 108vh;
  } */
  #mobile-bg {
    /* display: block; */
    display: none;

    position: absolute;
    bottom: 0;
    width: auto;
    height: 16vh;
    z-index: -1;
    right: 0;
  }
  .top-row {
    padding-top: 20%;
  }
}

@media (max-width: 480px) {
  .heading-div h1 {
    font-size: 8vw;
    line-height: 1.2em;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }
  .title-div h2 {
    font-size: 3.7vw;
    height: 2.3rem;

    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;

    color: #946df0;
    font-weight: 500;
  }
  .title-div p {
    font-size: 3.4vw;
    width: 68vw;
    text-align: center;
  }
}

@media (max-width: 430px) {
  .heading-div h1 {
    font-size: 14vw;
    line-height: 1.2em;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }
  .title-div h2 {
    font-size: 5vw;
    height: 3rem;

    text-align: center;

    margin-bottom: 10px;
    color: #946df0;
    font-weight: 500;
  }
  .title-div p {
    font-size: 4.4vw;
    width: 68vw;
    text-align: center;
  }
}

/* in between transition */
@media (min-width: 1024px) and (max-width: 1312px) {
  #background-img {
    width: 100%;
    height: 90%;
  }
  .title-div {
    margin-right: 42%;
  }

  .heading-div {
    margin-top: 10%;
    width: 100vw;
  }

  .heading-div h1 {
    font-size: 5vw;
  }
  #globe-gif {
    max-width: 3vw;
    height: 90%;
    margin-left: -5px;
    margin-bottom: 7px;
  }

  .title-div h2 {
    font-size: 2vw;
  }
  .title-div p {
    font-size: 1.2vw;
  }
}
