.organizer-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-self: center;
    justify-self: center;

    box-sizing: border-box;
    width: 293px;
    height: 410px;
    background-color: #FFFFFF;
    margin: 40px;

    border: 2px solid #000000;
    border-radius: 24px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, .5);
}

.organizer-image{
    justify-self: flex-start;
    box-sizing: border-box;
    width: 254px;
    height: 281px;
    margin: 20px;
}

.organizer-image img{
    max-width: inherit;
    max-height: inherit;
    width: inherit;
    height: inherit;
    object-fit: cover;
    border: 1.75px solid #000000;
    border-radius: 8px;
}

.organizer-name{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5px;

    color: #000000;
}

.organizer-position{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2px;

    color: #000000;
}