.wtm-section {
  background-color: rgb(255, 255, 255);
  padding-top: 3rem;
  height: 60rem;
}


.wtm-section h2 {
  text-align: center;
  width: 100%;
  height: 152px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 95.43px;
}
.wtm-word{
  color: #2480F0;
}
.wtm-section p {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 24px;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  padding-left:10%;
  padding-right:10%;
  /*padding-bottom: 3%;*/
}

/* god help me. */
@media (max-width: 1074.4px) {
  .wtm-section {
    height: 62rem;
  }
}
@media (max-width: 942.4px) {
  .wtm-section {
    height: 62rem;
  }
  .wtm-section p{
    padding:10%;
    text-align: center;
  }
  .wtm-section h2{
    line-height: 1.5;
  }
}
@media (max-width: 924px) {
  .wtm-section {
    height: 64rem;
  }
}
@media (max-width: 875.2px) {
  .wtm-section {
    height: 64rem;
  }
}
@media (max-width: 857px) {
  .wtm-section {
    height: 66rem;
  }
}
@media (max-width: 790px) {
  .wtm-section {
    height: 70rem;
  }
}
@media (max-width: 781px) {
  .wtm-section {
    height: 72rem;
  }
}
@media (max-width: 697px) {
  .wtm-section {
    height: 74rem;
  }
}
@media (max-width: 645.5px) {
  .wtm-section {
    height: 74rem;
  }
}
@media (max-width: 643.5px) {
  .wtm-section {
    height: 76rem;
  }
}
@media (max-width: 606.6px) {
  .wtm-section {
    height: 78rem;
  }
}
@media (max-width: 594.4px) {
  .wtm-section {
    height: 81rem;
  }
}
@media (max-width: 573.6px) {
  .wtm-section {
    height: 84rem;
  }
}
@media (max-width: 537.6px) {
  .wtm-section {
    height: 86rem;
  }
}
@media (max-width: 509.6px) {
  .wtm-section {
    height: 89rem;
  }
}
@media (max-width: 500px) {
  .wtm-section {
    height: 90rem;
  }
}
@media (max-width: 475.2px) {
  .wtm-section {
    height: 96rem;
  }
}
@media (max-width: 459.2px) {
  .wtm-section {
    height: 98rem;
  }
}
@media (max-width: 446.6px) {
  .wtm-section {
    height: 100rem;
  }
}
@media (max-width: 444px) {
  .wtm-section {
    height: 103rem;
  }
}
@media (max-width: 435.2px) {
  .wtm-section {
    height: 105rem;
  }
}
@media (max-width: 395.2px) {
  .wtm-section {
    height: 107rem;
  }
}
@media (max-width: 363.2px) {
  .wtm-section {
    height: 109rem;
  }
}
@media (max-width: 356px) {
  .wtm-section {
    height: 110rem;
  }
}
@media (max-width: 354.6px) {
  .wtm-section {
    height: 115rem;
  }
}
@media (max-width: 352px) {
  .wtm-section {
    height: 117rem;
  }
}
@media (max-width: 351.2px) {
  .wtm-section {
    height: 115rem;
  }
}
@media (max-width: 338px) {
  .wtm-section {
    height: 120rem;
  }
}
@media (max-width: 335px) {
  .wtm-section {
    height: 120rem;
  }
}
@media (max-width: 321.6px) {
  .wtm-section {
    height: 120rem;
  }
}
