.speaker-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 308px;
    height: 402px;
    margin: 40px;

    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 4px 75px rgba(0, 0, 0, 0.25);
    border-radius: 12px; 
    
}

.speaker-image{
    box-sizing: border-box;
    width: 165px;
    height: 165px;
    margin: 2px;

    /* background: url(https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg); */
}

.speaker-image img{
    max-width: inherit;
    max-height: inherit;
    width: inherit;
    height: inherit;
    object-fit: cover;
    border: 5px solid #FFCA41;
    border-radius: 50px;
}

.speaker-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    margin: 2px;

    color: #252525;
}

.speaker-position{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 2px;
    margin-bottom: 3px;

    box-sizing: border-box;
    background: #2480F0;
    border-radius: 5px;
    padding-top: 2px;
    padding-left: 15px;
    padding-right: 15px;

    color: #FFFFFF;
}

.speaker-company{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 2px;

    color: #7E7E7E;
}

.speaker-description{
    width: 186.12px;
    height: 45.6px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 2px;

    color: #1C5294;
}