/* attendee.css */

.app-section {
  width: 100%;
}

.attendee-div {
  background-color: #c5b2e1;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  overflow: hidden;
}

.attendee-title {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-size: 40px;
  margin-top: 10px; 
  margin-bottom: 10px; 
}

.attendee-images {
  display: flex;
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
}

.attendee-image {
  height: auto;
  margin: 0 10px; 
  max-width: 200px; 
}

@keyframes horizontalScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
