.app-section {
  width: 100%;
}

.attendee-div {
  background-color: #c5b2e1;
  overflow-x: hidden; 
}

.attendee-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-size: 40px;
  margin-top: 20px;
}

.attendee-images {
  display: flex;
  overflow-y: auto; 
}

.attendee-image {
  height: 100%; 
  margin: 0 10px;
}

@keyframes horizontalScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
