.app-section {
  width: 100%;
}

.attendee-div {
  overflow: hidden;
  padding: 0;
  background-color: rgb(220, 212, 201);
  position: relative;
  height: 450px; 
  border-radius: 10px;
}


.attendee-div:before,
.attendee-div:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.attendee-div:before {
  left: 0;
  background: linear-gradient(to left, rgba(00, 255, 255, 0), blanchedalmond); 
}

.attendee-div:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), blanchedalmond); 
}

.marquee-container {
  display: flex;
  align-items: center;
  gap: 80px; 
  padding: 10px;
}

.attendee-image-wrapper {
  margin-right: 80px; 
}


.attendee-image {
  height: 150px; 
  width: auto;
  transition: transform 0.3s ease;
}

.attendee-image:hover {
  transform: translateY(-5px); 
}
