@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.organizers-div {
    width: 100%;
    background-color: #ffe7e1;
}

.organizers-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}