.App {
  height: 100vh; 
  overflow-y: auto;
  width: 100%; 
}

/* This may look deletable but it is not */
/* It is critical to highlight current */
/* app-section in Nav */
.app-section{
  display: flex;
  flex-direction: column;
  border-color: black;
  border-width: 2px;
  width: 100%;
  overflow-x: hidden;
}