/* attendee.css */

.app-section {
  width: 100%;
}

.attendee-div {
  height: 500px;
  background-color: #c5b2e1;
  overflow-x: hidden; /* Hide horizontal overflow */
}

.attendee-title {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-size: 40px;
  margin-top: 20px;
}

.attendee-images {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-behavior: smooth; /* Add smooth scrolling behavior */
  animation: horizontalScroll 20s linear infinite; /* Apply horizontal scroll animation */
}

.attendee-image {
  margin: 50px;
  width: auto;
  height: 242px;
  margin-top: -20px;
}

@keyframes horizontalScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
